@import "tailwindcss";

/* Global Styling */

body {
  font-family: "Inter", sans-serif;
  background-color: #fff8e7; /* cream background */
  color: #4b2e2a; /* dark brown text */
}

h2 {
  color: #4b2e2a;
}
